.news-item {
    display: flex;
    padding: 10px;
    font-size: 14px;

    &.hidden {
        display: none;
    }

    span {
        padding-left: 10px;
        font-size: 12px;
        display: flex;
    }

    .upvote-btn {
        background: url(https://news.ycombinator.com/grayarrow2x.gif);
        display: inline-block;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    .url ,.date {
        font-size: 10px;
        color: grays;
    }

    .hide {
        cursor: pointer;
    }

    h5 {
        font-size: 14px;
    }

    &:nth-of-type(odd) {
        background-color:#fbf4e1;
        }

        &:nth-of-type(even) {
            background-color:#eee1b1;
            }
}